.footer {
  background-color: whitesmoke;
  padding: 10px;
  padding-bottom: 75px;
}

.footer-top {
  color: dimgray;
  font-weight: bold;
  font-size: 15px;
}

.footer-body {
  margin-top: 20px;
  margin-bottom: 20px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

.footer-location {
  margin-bottom: 20px;
}

.footer-location h5 {
  margin: 0;
  margin-bottom: 10px;
}

.footer-location ul {
  display: flex;
  flex-wrap: wrap;
  font-size: 14px;
  color: dimgray;
  margin: 0;
  padding: 0;
  width: 100%;
  margin-bottom: -20px;
}

.footer-location li {
  margin-right: 14px;
  margin-bottom: 13px;
}

.footer-bottom {
  text-align: center;
  width: 64%;
  margin: 0 auto;
}

.twitter {
  border: 1px solid deepskyblue;
  border-radius: 50px;
  padding: 8px;
  color: #fff;
  background-color: deepskyblue;
  margin: 0;
  margin-right: 20px;
}

.youtube {
  border: 1px solid tomato;
  border-radius: 50px;
  padding: 8px;
  color: #fff;
  background-color: tomato;
  margin: 0;
}

.footer-text {
  display: flex;
  flex-wrap: wrap;
  font-size: 16px;
  color: dimgray;
  justify-content: space-evenly;
}

.footer-text p {
  margin: 0;
  margin-top: 10px;
}

.footer-team {
  display: flex;
  font-size: 15px;
  color: dimgray;
  text-align: center;
  justify-content: center;
  margin-top: 10px;
}

.footer-team p {
  margin-left: 10px;
}

.privacy {
  font-size: 15px;
  padding-right: 5px;
}

.border {
  border-right: 1px solid rgba(0, 0, 0, 0.2);
  padding-right: 7px;
}

.footer-end {
  text-align: center;
}

.pc {
  font-size: 16px;
  color: dimgray;
}

.company {
  font-size: 14px;
  color: rgba(0, 0, 0, 0.6);
}

.banner-bottom {
  position: sticky;
  bottom: 0;
  z-index: 1;
  margin-top: -145px;
}

.vote {
  background-color: #000;
  color: #fff;
  text-align: center;
  border-radius: 50px;
  padding: 12px;
  width: 40px;
  height: 40px;
  margin-left: 240px;
  margin-bottom: 10px;
}

.vote p {
  margin: 1px 0;
  font-weight: bold;
  font-size: 18px;
}

.ad {
  width: 95%;
  height: 60px;
  background-color: turquoise;
  margin: 0 auto;
}
