.sliderimg {
  width: 100%;
  object-fit: cover;
  position: relative;
}

.alice-carousel__dots {
  margin: 0;
  font-size: x-small;
}

.alice-carousel__prev-btn {
  display: none;
}

.alice-carousel__next-btn {
  display: none;
}

.heading-desc {
  z-index: 1;
  color: #000;
  margin-top: -120px;
  color: #fff;
  padding: 0 10px;
}

.heading-desc p {
  color: #000;
  background-color: #fff;
  opacity: 0.9;
  display: inline;
  border-radius: 50px;
  padding: 0 12px;
}

.heading-desc h3 {
  margin-top: 0;
  color: #fff;
}

.animated {
  overflow: hidden;
  white-space: nowrap;
  width: 70%;
  font-weight: initial;
  font-size: 13px;
  letter-spacing: 1px;
  height: 30px;
}

.animated span {
  color: #e03d3d;
}

.animated > * {
  display: inline-block;
  position: relative;
  animation: 24s linear 0s infinite move;
}

.animated > *.min {
  min-width: 100%;
}

@keyframes move {
  0%,
  25% {
    transform: translateX(38%);
    left: 38%;
  }
  75%,
  100% {
    transform: translateX(-205%);
    left: 205%;
  }
}

.heading-middle {
  display: flex;
  justify-content: space-around;
  padding: 0 10px;
}

.heading-middle a {
  text-decoration: none;
  background-color: #e03d3d;
  color: #fff;
  font-weight: bolder;
  height: 100%;
  padding: 1px 10px;
  font-size: 12px;
  border-radius: 50px;
}

.heading-middle p {
  margin: 0.5px;
}

.heading-bottom {
  display: flex;
  border: 1px solid #e03d3d;
  font-size: 12px;
  margin: 0 auto;
  margin: 10px;
  padding: 0 10px;
  font-weight: bold;
  text-align: center;
  padding-top: 10px;
}

.heading-bottom p {
  color: #e03d3d;
  font-size: 17px;
  margin-top: 10px;
}

.heading-bottom-inner {
  padding: 0 6px;
}

.heading-bottom-inner p {
  margin: 0;
  letter-spacing: 0.5px;
}

.heading-campaign {
  overflow: auto;
  white-space: nowrap;
}

.campaign {
  display: inline;
  margin-left: 0.5rem;
}

.campaign img {
  border-radius: 5px;
  position: relative;
}
